apiVersion: v1
kind: Secret
metadata:
  name: secret-bot-plc
  namespace: discord-bot
type: Opaque
stringData:
  # Token API
  DISCORD_BOT_TOKEN: "token_du_bot"
  HF_TOKEN: "token_api_ia"
  OPENWEATHER_API_KEY: "token_api_openweather"

  # ID Salons veille
  VEILLE_CVE_CHANNEL_ID: "id_du_salon_cve"
  VEILLE_CHANNEL_ID: "id_du_salon_veille"
  
  # ID Salons log
  WEATHER_LOG_CHANNEL_ID: "id_channel_log_weather"
  RSS_LOG_CHANNEL_ID: "id_channel_log_rss"

  # ID Rôle
  RSS_ADMIN_ROLE_ID: "id_role_admin"